/* CUSTOM PROPERTIES
-------------------------- */

:root {
  --color-blue-200: #dddbff;
  --color-grayish-blue: #848794;
  --color-Blue-850: #1d2c67;
  --color-Blue-950: #0c122c;
}

/* GLOBAL STYLES 
----------------------------- */
